In [3]:
word='volkegen'
len(word)

8

In [2]:
x="PYTHON"
for i in x:
  print(i)

P
Y
T
H
O
N

In [5]:
fruits=['Apple', 'Banana','Lemon']
for item in fruits:
    print(f'i have {item}')

i have Apple
i have Banana
i have Lemon

strings settings
-r = raw string
-f = formatted string 
-b = byte string

In [6]:
a = 10
b = "Birds"
print (' I can count',a,b,' on the roof')

 I can count 10 Birds  on the roof

In [7]:
a = 10
b = "birds"
print (f'i have {a} {b}')

i have 10 birds

<h4>range() function
    * to specify the limit
    * 3 main optin
    * starting value 
    * stoping value
    * step
    * example = range(3,20,2)

In [9]:
for i in range(6):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [10]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [11]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [12]:
# Reverse loop
for num in range(10,5,-1):
    print (num)

10
9
8
7
6

In [13]:
# Pattren loop
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

Extra functional setting for for loop
* enumerate
* zip

In [1]:
fruits = [ 'Apple','Banana', 'Cherry','Orange', 'Kiwi','Mango']
for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry
Orange
Kiwi
Mango

In [4]:
for i,fruit in enumerate(fruits):
    print(i,fruit)

0 Apple
1 Banana
2 Cherry
3 Orange
4 Kiwi
5 Mango

In [5]:
prices = [100,40,200,50,240,60]

In [6]:
for f,p in zip(fruits,prices):
    print(f,'=>',p)

Apple => 100
Banana => 40
Cherry => 200
Orange => 50
Kiwi => 240
Mango => 60

In [8]:
qty = ['2 Kg','2 Dozens','1 Kg','1/2 Kg','5 Kg']

In [9]:
for f,p,q in zip(fruits,prices,qty):
    print(f,'=>',q,'for',p)

Apple => 2 Kg for 100
Banana => 2 Dozens for 40
Cherry => 1 Kg for 200
Orange => 1/2 Kg for 50
Kiwi => 5 Kg for 240