# tuple

In [ ]:
a= (1,2,3,4,5)
print (a)
print(type(a))

In [ ]:
b = 1, 2, 3, 4
print(b)
print(type(b))

In [15]:
for val in a:
    print(val)

1
2
3
4
5

In [16]:
# concatenation
print((1 ,2 , 3) + (4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [17]:
# repeat
print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

In [18]:
my_tuple = ('a', 'p', 'p,' 'l', 'e',)
print(my_tuple.count('p'))
print(my_tuple.count('l'))

1
0

In [19]:
a1 = list(a)
print(a1)

[1, 2, 3, 4, 5]

In [20]:
val = [2,3,12,342,23,44,12]
print(val)
valt = tuple(val)
print (valt)

[2, 3, 12, 342, 23, 44, 12]
(2, 3, 12, 342, 23, 44, 12)

# sets

In [2]:
s1 = {1,2,3,4,5,6,7,8,9,10,1,1}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [23]:
# set of integers
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [25]:
#
my_set = set [(1,2,3,4,5,6)]
print(my_set)

set[1, 2, 3, 4, 5, 6]

In [ ]:
my_set = {1, 2, [3, 4]}  # error

In [28]:
# initialize a with set()
a = set()
# check data type of a
print(type(a))

<class 'set'>

In [29]:
my_set = {1, 3}
print(my_set)

{1, 3}

In [30]:
my_set.add(2)
print(my_set )

{1, 2, 3}

In [31]:
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [32]:
# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [33]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [34]:
# discard an item
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [36]:
# remove an item
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [37]:
# pops a random item
my_set.pop()
print(my_set)

{3, 5}

In [38]:
# clear my set
my_set.clear()
print(my_set)

set()

# Set Union

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [41]:
# use / operator
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

# Set Intersection

In [44]:
print(A & B)

{4, 5}

In [46]:
A.intersection(B)

{4, 5}

# Set Difference

In [49]:
print(A - B)

{1, 2, 3}

In [50]:
A.difference(B)
{1, 2, 3}

{1, 2, 3}

# Set Symmetric difference

In [51]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [52]:
# use semmetric function
A.symmetric_difference(B)
{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [60]:
E1 = {2, 3, 4, 5, 6, 7}
E2 = {1, 2, 3, 4, 5, 6,}
print(E1 - E2)

{7}

In [61]:
E1 = {2, 3, 4, 5, 6, 7}
E2 = {1, 2, 3, 4, 5, 6,}
print(E1 | E2)

{1, 2, 3, 4, 5, 6, 7}

In [62]:
E1 = {2, 3, 4, 5, 6, 7}
E2 = {1, 2, 3, 4, 5, 6,}
print(E1 ^ E2)

{1, 7}

In [63]:
E1 = {2, 3, 4, 5, 6, 7}
E2 = {1, 2, 3, 4, 5, 6,}
print(E1 & E2)

{2, 3, 4, 5, 6}

# dictionary

In [68]:
# for vs [] for reteieving elements
my_dict = {'Name': 'Sandhya', 'Age': 19}

In [65]:
print(my_dict['Name'])

Sandhya

In [66]:
print(my_dict.get('Age'))

19

In [72]:
print(my_dict.get('Address'))

Kanpur

In [74]:
my_dict['Age'] = 19

In [73]:
my_dict['Address'] = 'Downtown'

In [76]:
print(my_dict)

{'Name': 'Sandhya', 'Age': 19, 'Address': 'Downtown'}

# Removing elements from dictonary

In [77]:
squares = {1: 1, 2: 4, 3: 9 , 4: 16, 5: 25}

In [78]:
print(squares.pop(4))

16

In [79]:
print(s1)
s1 = list(s1)
print(s1)
st = tuple(s1)
print(st)
a = set([1, 2, 3, 3, 3, 3, 1, 1])
print(a)
b = set([2, 2, 3, 3, 4, 5, 5, 5, 6])
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3}
{2, 3, 4, 5, 6}

In [3]:
report = {
    'student 1': {
        'name': 'sandhya',
        'marks': {
            'math': 70,
            'science': 80,
            'history': 68,
            'english': 70,
            'evs': 90
        }
    },

'student 2': {
        'name': 'shilpa',
        'marks': {
            'math': 80,
            'science': 70,
            'history': 66,
            'english': 74,
            'evs': 93
        }
    },
}

In [4]:
report

{'student 1': {'name': 'sandhya',
  'marks': {'math': 70,
   'science': 80,
   'history': 68,
   'english': 70,
   'evs': 90}},
 'student 2': {'name': 'shilpa',
  'marks': {'math': 80,
   'science': 70,
   'history': 66,
   'english': 74,
   'evs': 93}}}

In [5]:
print(report['student 1'])

{'name': 'sandhya', 'marks': {'math': 70, 'science': 80, 'history': 68, 'english': 70, 'evs': 90}}

In [7]:
print(report['student 1'] ['name'])
print(report['student 1'] ['marks'])
print(report['student 1'] ['marks'] ['history'])

sandhya
{'math': 70, 'science': 80, 'history': 68, 'english': 70, 'evs': 90}
68

# loop for dictonary

In [8]:
for i in report.items():
    print(i)

('student 1', {'name': 'sandhya', 'marks': {'math': 70, 'science': 80, 'history': 68, 'english': 70, 'evs': 90}})
('student 2', {'name': 'shilpa', 'marks': {'math': 80, 'science': 70, 'history': 66, 'english': 74, 'evs': 93}})

In [10]:
for k,v in report.items():
    print("student:",k)
    if isinstance(v,dict):
         for k1,v1 in v.items():
                print("name",k1)
                if isinstance(v1,dict):
                    for sub,marks in v1.items():
                        print(sub,marks)
                else:
                    print(v1)
    else:
        print(v)

student: student 1
name name
sandhya
name marks
math 70
science 80
history 68
english 70
evs 90
student: student 2
name name
shilpa
name marks
math 80
science 70
history 66
english 74
evs 93