In [1]:
print ()

In [1]:
print("Bruce Campbell")

Bruce Campbell

raw output are only for devlopers understanding

In [2]:
 "Welcome to Kingdom"

'Welcome to Kingdom'

In [3]:
230 + 3245 -34

3441

In [3]:
print("This is an Apple and i don't like Apple")

This is an Apple and i don't like Apple

In [4]:
print(1,2,3,4,5,6,7,8)

1 2 3 4 5 6 7 8

In [4]:
print("This Is Pyhton Data Science")
print("We are going to do code")
print("and learn the secret of python")
print("that's it")

This Is Pyhton Data Science
We are going to do code
and learn the secret of python
that's it

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [7]:
print('''this is python Data Science course,
we are going to do code''')

this is python Data Science course,
we are going to do code

There are few setting in print function that we can Provide whenever we want to print something.

In [8]:
print(1,2,3,4,5,6,7, sep='🥎🥎😀😀🎨🎨👍👍')

1🥎🥎😀😀🎨🎨👍👍2🥎🥎😀😀🎨🎨👍👍3🥎🥎😀😀🎨🎨👍👍4🥎🥎😀😀🎨🎨👍👍5🥎🥎😀😀🎨🎨👍👍6🥎🥎😀😀🎨🎨👍👍7

sep = sepration symbol {Emoji = Window + .)

In [15]:
print('This', end='')
print('Is', end='')
print('Multiline', end='')
print('Message', end='')

ThisIsMultilineMessage

end = what comes at end of the line(it may be emoji,space,equal etc.

Creating a variable in Python age = 18 , Name = Jonny color2 = 'red is_sleeping = false

In [5]:
age = 78
name = 'Jonny'
is_married=True
color2 ='maroon'

In [6]:
name = 'nobita'

In [6]:
age = 5

In [7]:
color2 =12

<h4>datatype can changing by the value of a variable.( New variable of the same Data Type can over write the pricious)<h4>

In [8]:
 del age

<h1>Integer<h1>
    <h4>Integer in Python means<h4>

In [7]:
x = 7
y = 795
z = 6675785432

<h4>Float<h4>
    <h5>Flot or 'floting print number', Positive or Negative, Containing one or more decimal float can also be scientfic numbers with an 'e' top inducate the power of 10 we can use type()<h5>
<h4>String<h4>
    <h5>String literals in Python are surrounded by either single quatation mark or double quatation mark MULTILINE STRING :
        we can assign multiple string by using three quotes"hey"<h5>
<h4>Del<h4>
   <h5> Del is use to delete vriable from the memory<h5>

In [ ]:
del

<h4>Boolean<h4>
<h5>True or False<h5>

In [12]:
is_coding = True
is_fun = True
are_you_border = False

<h4>Nonetype<h4>
<h5>Null value and no CREATE a empty variable<h5>
<h4>List<h4>
<h5>immutable<h5>

In [14]:
a =[5,10,15,20,25,30,35,40]
vals = [1,2,2,'Python']
colors = ['red','black','white','yellow']

<h5>Sets<h4>

In [15]:
a =[5,10,15,20,25,30,35,40]
vals = [1,2,2,'Python']
colors = ['red','black','white','yellow']

<h4>Tuple<h4>

In [17]:
a =[5,10,15,20,25,30,35,40]
vals = [1,2,2,'Python']
colors = ['red','black','white','yellow']

<h4>Dictionary<h4>

In [18]:
Car_info ={
    "brand":"ford",
    "mode1":"Mustng",
    "year":"1964"
}

<h4>Input<h4>

In [ ]:
name = input("What is your name")
city = input("and where do you live in")
print = ("so according to you")
print =("You are",name)
print =("and you live in",city)

<h4>Keywords in Python<h4>
    <h5>Keyword are reserved words in Python.They are used to Define syntax and structure of the Python. There are 35 keyword 
        avilable in Python 3.9. they are case sensitive<h5>
<h4>Operators<h4>
   <h5> There are 7 types of operators avialble in Python.<h5>
       
      1. Arithmetic Operators

In [9]:
a = 100
b = 33

print( a + b) #add
print( a - b) #sub
print( a * b) #mul
print( a / b) #float div
print( a // b) #int div
print( 23 % 5) # remender
print( a ** b) #exponentiation

133
67
3300
3.0303030303030303
3
3
1000000000000000000000000000000000000000000000000000000000000000000

2. Assignment operators

In [11]:
a = 10 
b = 5
c = 3
# alternative way to assign a value to a variable
x, y, z = 10, 20, 25

In [12]:
a +=2 #update a with a+2

In [13]:
# Comparison operators
print(a > b) # greater than
print(a >= b) # greater than or equal to
print(a < b) # less than
print(a <= b) # less than or equal to
print(a == b) # equal to
print(a != b) # not equal to

True
True
False
False
False
True

3. Logical Operatoprs

In [18]:
print(a > b and a > 5)
print(a < b and a > 5)
print(a > b or a > 5)
print(a < b or a > 5)
print(a < b or a < 5)
print(not a < b )
print(not a and not b and not c)

True
False
True
True
False
True
False

4. membership Operators

In [19]:
colors = ['red','blue','yeliow','green','orange']
print('red' in colors)
print('Red' in colors)
print('RED' in colors)
print('yellow' in colors)
print('green' in colors)
print('orange' in colors)
print('blue' in colors)
print('purple' in colors)

True
False
False
False
True
True
True
False

In [20]:
msg = "Its the journey that matters "
print('journey' in msg)
print('destination' in msg)

True
False

 is operator check wheter two objects belong to same memory location or not

Questions:
    1.wap to calculate area of circle 
    2. wap to calculate area of a rectangle

In [1]:
# Area of circle = pi * radius ** 2
radius = 10
area = 3.14 * radius ** 2
print(area,'for a circle with a radius ', radius)

314.0 for a circle with a radius  10

In [1]:
 radius = int(input ('enter the circle of radius:'))
area = 3.14 * radius ** 2
print (area,'for a circle with radius', radius)

enter the circle of radius: 20

1256.0 for a circle with radius 20

In [2]:
l = float (input('Enter length => '))
b = float (input('Enter breadth => '))
area = l * b
print('Area of the triangle is', area)

Enter length =>  12
Enter breadth =>  14

Area of the triangle is 168.0

In [3]:
h = float (input('Enter Hight=> '))
b = float (input('Enter base => '))
area_of_triangle = 0.5 * b * h
print('Area of triangle is', area_of_triangle)

Enter Hight=>  24
Enter base =>  36

Area of triangle is 432.0

In [2]:
import math

In [3]:
p = float(input('Enter perpendicular'))
b = float(input('Enter base'))
h = math.hypot(p, b)
print('Hypotenuse is', h)

Enter perpendicular 24
Enter base 28

Hypotenuse is 36.87817782917155

In [4]:
num = int(input('enter a number: '))
fact = math.factorial(num)
print('factorial of', num, 'is', fact)

enter a number:  90

factorial of 90 is 1485715964481761497309522733620825737885569961284688766942216863704985393094065876545992131370884059645617234469978112000000000000000000000

In [5]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [3]:
# compound Intrest
p = float(input('Enter Principal => '))
r = float(input('Enter Rate => '))
t = float(input('Enter Time => '))
n = float(input('Enter Number of times intrest is compounded => '))
ci = p* (1 + r / n) ** (n * t)
print('Compound Intrest is', ci)

Enter Principal =>  500
Enter Rate =>  3
Enter Time =>  4
Enter Number of times intrest is compounded =>  10

Compound Intrest is 18059432.404226597