<h4>List<h4>
list are used to store multiple item in a single variable.
list item are ordered, changeable and allow duplicate values.
list can be created by the uses of [] brackets with

In [48]:
# define list in python
#list of strings
list1 = ["Nikhlest","Aman","suresh","Rahul","Raman"]

#list of numbers
list2 = [1, 2, 3, 4, 5, 25, 100]

#mixed data list
list3 = ['Ravi' ,90,102,93,29,44,"B",False,5.786]

#nested list
list4 = [[1,2,3],[3,4,5,7],[2,1]]

In [49]:
# Accessing list item in Python 
list1 = [2,4,6,'A',10,'B',16,'C',20]
print('list1 = ',list)
#first item
print('list1[0]=',list1[0])
#third item
print('list1[2]=',list[2])
#last item     
print('list1[-1]',list[-1])
#last third item
print('list1[-3]',list1[-3])

list1 =  <class 'list'>
list1[0]= 2
list1[2]= list[2]
list1[-1] list[-1]
list1[-3] 16

In [50]:
# Getting a list slice
#  0 1 2 3 4 5  6 7 8 9
l =[10,20,30,40,50,60,70,90,100]
slice1 = l[3:-2]
print(slice1)

[40, 50, 60, 70]

In [64]:
books = [
    'Legion',
    'Legion: Skin Deep',
    'Steelheart',
    'Calamity',
    'The Finel Empire',
    'The well of Ascension',
    'Way of the Kings',
    'Oathbringer',
    'Word of Radiance',
    'Warbreaker',
]

In [65]:
print(books)

['Legion', 'Legion: Skin Deep', 'Steelheart', 'Calamity', 'The Finel Empire', 'The well of Ascension', 'Way of the Kings', 'Oathbringer', 'Word of Radiance', 'Warbreaker']

In [66]:
books.insert(6,'The Hero of Ages')
print(books)

['Legion', 'Legion: Skin Deep', 'Steelheart', 'Calamity', 'The Finel Empire', 'The well of Ascension', 'The Hero of Ages', 'Way of the Kings', 'Oathbringer', 'Word of Radiance', 'Warbreaker']

In [67]:
books[:3]

['Legion', 'Legion: Skin Deep', 'Steelheart']

In [68]:
books[3:-3]

['Calamity',
 'The Finel Empire',
 'The well of Ascension',
 'The Hero of Ages',
 'Way of the Kings']

#  There are 11 functions in the list.

In [69]:
# Append Function
fruits = []
fruits.append("Apple")
fruits.append("Banana")
fruits.append("Mango")
fruits.append("Guava")
fruits.append("Grapes")
fruits.append("Pine apple")
fruits

['Apple', 'Banana', 'Mango', 'Guava', 'Grapes', 'Pine apple']

In [70]:
# books append()

In [71]:
# Insert Function
fruits = ['apple','banana','orange']
fruits.insert(1, "cherry")
print(fruits)

['apple', 'cherry', 'banana', 'orange']

In [72]:
# Extends Function
fruits = ['Apple','Banana','cherry','Mango']
dry_fruits = ['Almond','cashew','walnut']
fruits.extend(dry_fruits)
fruits

['Apple', 'Banana', 'cherry', 'Mango', 'Almond', 'cashew', 'walnut']

In [73]:
# Sort Function
fruits = ['Cherry','Mango','Apple','Pine apple']
fruits.sort()
fruits

['Apple', 'Cherry', 'Mango', 'Pine apple']

In [74]:
# Sort Function

books.sort(reverse=True)
print(books)

['Word of Radiance', 'Way of the Kings', 'Warbreaker', 'The well of Ascension', 'The Hero of Ages', 'The Finel Empire', 'Steelheart', 'Oathbringer', 'Legion: Skin Deep', 'Legion', 'Calamity']

In [1]:
# Reverse Function
fruits = ['Cherry','Mango','Apple','Pine apple','Lichi','Grapes']
fruits.sort(reverse=True)
fruits

['Pine apple', 'Mango', 'Lichi', 'Grapes', 'Cherry', 'Apple']

In [76]:

fruits = ['Cherry','Mango','Apple','Pine apple']
fruits.remove('Apple')
fruits

['Cherry', 'Mango', 'Pine apple']

In [77]:
x = [1,2,2,3,3,4,3,3,3,2,2,1,1,1]
x.sort
print(x)

[1, 2, 2, 3, 3, 4, 3, 3, 3, 2, 2, 1, 1, 1]

In [78]:
if 1 in x:
    x.remove(1)
    print(x)
    if 4 in x:
        x.remove(4)
        print(x)

[2, 2, 3, 3, 4, 3, 3, 3, 2, 2, 1, 1, 1]
[2, 2, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1]

In [79]:
print(x)

[2, 2, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1]

In [80]:
x.remove(3) if 3 in x else print('not found')

In [81]:
books.reverse
print(books)

['Word of Radiance', 'Way of the Kings', 'Warbreaker', 'The well of Ascension', 'The Hero of Ages', 'The Finel Empire', 'Steelheart', 'Oathbringer', 'Legion: Skin Deep', 'Legion', 'Calamity']

In [82]:
books[::-1] # Reverse the list

['Calamity',
 'Legion',
 'Legion: Skin Deep',
 'Oathbringer',
 'Steelheart',
 'The Finel Empire',
 'The Hero of Ages',
 'The well of Ascension',
 'Warbreaker',
 'Way of the Kings',
 'Word of Radiance']

In [83]:
# Count Function
X = [1,2,3,4,5,6,7,8,2,2,4,2,2,2,1,1,1,1]
X.count(1)

5

In [86]:
# Index Function
movies = [
    'Finel Destination',
    'Spider Man: No way home',
    'shang-chi',
    'The last duel',
    'Venum: Let there be carange']
movies.index('Finel Destination')

0

In [87]:
len(books)

11

In [90]:
oathidx = books.index('Oathbringer')
print(oathidx)
books[oathidx:]

7

['Oathbringer', 'Legion: Skin Deep', 'Legion', 'Calamity']

In [89]:
books[books.index('Oathbringer') : ]

['Oathbringer', 'Legion: Skin Deep', 'Legion', 'Calamity']

In [91]:
# Copy Function
fruits = ['Apple','Cherry','Mango','Grapes']
dup_fruits = fruits.copy()
print(dup_fruits)

['Apple', 'Cherry', 'Mango', 'Grapes']

In [92]:
# Clear Function 
# remove all the item of the list
fruits =  ['Apple','Cherry','Mango','Grapes']
fruits.clear()
fruits

[]

In [100]:
# Pop Function
# by list.pop() method-
fruits = ['Apple','Cherry','Mango','Grapes']
v = fruits.pop()
print(v)

# by list.pop(idx) method-
fruits = ['Apple','Cherry','Mango','Grapes']
v = fruits.pop(2)
print(v)

Grapes
Mango

# wap to create a list of 5 values given by the user

In [2]:
ex = []
for i in range(5):
    val = input(f'enter value{i+1}: ')
    ex.append(val)
    print(ex)

enter value1:  Sandhya

['Sandhya']

enter value2:  Shilpa

['Sandhya', 'Shilpa']

enter value3:  Manyta

['Sandhya', 'Shilpa', 'Manyta']

enter value4:  Richa

['Sandhya', 'Shilpa', 'Manyta', 'Richa']

enter value5:  Anshika

['Sandhya', 'Shilpa', 'Manyta', 'Richa', 'Anshika']

In [1]:
data = [23,54,67,78,99,90]
total = 0
for i in data:
    total +=i
    print(total)

23
77
144
222
321
411

questions:-mean,medium,min,max,std

In [6]:

x = [2,4,6,7,3,2,1,2,5,4,3,2,1,6,7]
# mean
mean = sum(x)/len(x)
print(mean)
# medium
x.sort()
if len(x) % 2 == 0:
    median = (x[len(x)//2] +x [len(x)//2 - 1])/2
else:
        median = x[len(x)//2]
        print(median)
# min
print(min(x))
# max
print(max(x))

# std 
# ?

3.6666666666666665
3
1
7

Add two list together element wise and produce a new list

In [17]:
A1 = [3,4,5,6,6,8]
A2 = [4,5,3,5,6,2]
N1 = []
for i,j in zip(A1,A2):
    N1.append(i+j)
print(N1)

[7, 9, 8, 11, 12, 10]

In [27]:
# create a list where every element is a sqr of elements from an existing list

x = [2,3,4,5,6,7,8,9,10]
x2 = []
for i in x:
    x2.append(i**2)
print(x)
print(x2)

[2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
# create a list where every odd element is a sqr
# of elements from an existing list

l = [2,3,4,5,6,7,8,9,10]
l2 = []
for i in l:
    if i%2 != 0:
        l2.append(i**2)
print(l)
print(l2)

[2, 3, 4, 5, 6, 7, 8, 9, 10]
[9, 25, 49, 81]

In [37]:
# create a abriviation list fron an existing list of words

words = ['United State','Project Manager','Software Engineer','Data Analyst','Senior Software',
         'Senior Data Analyst','Data Scientist','Data Engineer']
a = []
for item in words:
    items = item.split()
    s = ''
    for i in items:
        s += i[0]
    a.append (s)
print(a)

['US', 'PM', 'SE', 'DA', 'SS', 'SDA', 'DS', 'DE']

In [47]:
words = ['United State','Project Manager','Software Engineer','Data Analyst','Senior Software',
         'Senior Data Analyst','Data Scientist','Data Engineer']
abbrs = []
for names in words:
    ans = ''
    for words in names.split():
        ans += words[0]
    abbrs.append(ans)
print(abbrs)

['US', 'PM', 'SE', 'DA', 'SS', 'SDA', 'DS', 'DE']

In [2]:
# take a list from user in one line of input and then remove all the non numeric values from the list
# then display the cubes of numbers from that list

entries = input('enter data seperated with space: ')
print(entries)
#numeric_entries = []
#for value in entries.split():
 #   if value.isnumeric():
  #      numeric_entries.append(int(value))
numeric_entries = [int(value) for value in entries.split() if value.isnumeric()]
print(numeric_entries)
# cube of numbers
cubes = [i**3 for i in numeric_entries]
print(cubes)

enter data seperated with space:  22 11 std 23

22 11 std 23
[22, 11, 23]
[10648, 1331, 12167]

# List Comprehenshion
is a way to create a list from existing list
using on line of expression
-syntex
newlist = [expression]

In [4]:
x = [2,3,4,5,6,7,8,9,10]
#x2 = [i**3 for i in x ]
#print(x2)

x2 = [i**2 for i in x if i%2 !=0]
print(x2)

[9, 25, 49, 81]