In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
blood_transfusion = pd.read_csv('blood_transfusion.csv')

In [3]:
blood_transfusion.head()

   Recency  Frequency  Monetary  Time        Class
0        2         50     12500    98      donated
1        0         13      3250    28      donated
2        1         16      4000    35      donated
3        2         20      5000    45      donated
4        1         24      6000    77  not donated

In [4]:
blood_transfusion.tail()

     Recency  Frequency  Monetary  Time        Class
743       23          2       500    38  not donated
744       21          2       500    52  not donated
745       23          3       750    62  not donated
746       39          1       250    39  not donated
747       72          1       250    72  not donated

In [5]:
blood_transfusion.head(2)

   Recency  Frequency  Monetary  Time    Class
0        2         50     12500    98  donated
1        0         13      3250    28  donated

In [6]:
blood_transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Recency    748 non-null    int64
 1   Frequency  748 non-null    int64
 2   Monetary   748 non-null    int64
 3   Time       748 non-null    int64
 4   Class      748 non-null    object
dtypes: int64(4), object(1)
memory usage: 29.3+ KB

In [7]:
blood_transfusion.describe()

          Recency   Frequency      Monetary        Time
count  748.000000  748.000000    748.000000  748.000000
mean     9.506684    5.514706   1378.676471   34.282086
std      8.095396    5.839307   1459.826781   24.376714
min      0.000000    1.000000    250.000000    2.000000
25%      2.750000    2.000000    500.000000   16.000000
50%      7.000000    4.000000   1000.000000   28.000000
75%     14.000000    7.000000   1750.000000   50.000000
max     74.000000   50.000000  12500.000000   98.000000

In [8]:
print(blood_transfusion.columns.tolist())

['Recency', 'Frequency', 'Monetary', 'Time', 'Class']

In [9]:
blood_transfusion = ['Recency','Frequency','Monetary','time','class']

In [10]:
  # blood_transfusion.describe(include='object')

In [12]:
print(blood_transfusion.columns.tolist())

AttributeError: 'list' object has no attribute 'csv'

In [13]:
blood_transfusion.iloc[0]

AttributeError: 'list' object has no attribute 'iloc'

In [14]:
blood_transfusion.iloc[-1]

AttributeError: 'list' object has no attribute 'iloc'

In [15]:
blood_transfusion.iloc[25: 50]

AttributeError: 'list' object has no attribute 'iloc'

In [16]:
blood_transfusion.iloc[1:16, 3]

AttributeError: 'list' object has no attribute 'iloc'

In [17]:
blood_transfusion.iloc[:15, [-3,-2,-1]]

AttributeError: 'list' object has no attribute 'iloc'